.Side-bar
  .Side-bar__user-name
    .Top-items
      .Top-items__name
        = current_user.name
      %ul.Top-items__icons
        %li 
          =link_to new_group_path do
            =icon('fas', 'edit', class: 'icon')
        %li
          =link_to edit_user_path(current_user) do
            =icon('fas', 'cog', class: 'icon')
  .Side-bar__group-list
    .Bottom-items
      .Bottom-items__group techcamp
      .Bottom-items__message まだメッセージがありません
    .Bottom-items
      .Bottom-items__group techexpert
      .Bottom-items__message まだメッセージがありません